// Klinic Slab
// -----------

@font-face {
  font-family: "Klinic Slab";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/klinicslab-n4.woff") format("woff");
}

@font-face {
  font-family: "Klinic Slab";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/klinicslab-i4.woff") format("woff");
}

@font-face {
  font-family: "Klinic Slab";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/klinicslab-n7.woff") format("woff");
}

// @font-face {
//   font-family: "Klinic Slab";
//   font-weight: 700;
//   font-style: italic;
//   src: url("/fonts/klinicslab-i7.woff") format("woff");
// }

// Dude
// ----

@font-face {
  font-family: "Dude June";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/dudejune-n4.woff") format("woff");
}
