doctype
html(lang="en")
  head
    meta(charset="utf-8")
    title #{ title }
    meta(content="#{ description }" name="description")
    meta(content="#{ author }" name="author")
    meta(content="true" name="handheldfriendly")
    meta(content="320" name="mobileoptimized")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    meta(content="on" http-equiv="cleartype")
    meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    link(href="/css/index.css" rel="stylesheet")
    script.
      WebFontConfig = {
        custom: {
          families: ['Klinic Slab:n4,n7,i4', 'Dude June:n4'],
          urls: ['/css/fonts.css']
        }
      };
    script(async defer src="//ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js")
  body
    != yield
  footer.footer
    p: a(href="http://losttype.com") The Lost Type Co-op
  script(src="/js/vendor/github-element-bundled.js")
  
